<%= component_wrapper do %>
  <%= flex_layout(mt: 3) do |details_container| %>
    <%= details_container.with_row do %>
      <%= render(Primer::Beta::Heading.new(tag: :h4)) { t(:label_group_plural) } %>
    <% end %>
    <%= details_container.with_row(mt: 2) do %>
      <ul>
        <% @groups.each do |group| %>
          <li><%= helpers.link_to_group(group) %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<% end %>
